/* HTML tags */
html,
body {
  width: 100%;
}

table { margin: 0 auto; }
td {
  padding: 10px;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

/* DOM Elements */
#swipe-screen { display: none; }

#selected-animation { max-width: 80%; }

#back-btn { max-width: 75%; }

/* Classes */
.ui-page {
  background: url(../images/background.jpg) no-repeat center center transparent !important;
  background-size: cover;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.title-image {
  max-height: 240px;
  max-width: 600px;
  width: 100%;
}

.animation {
  max-width: 200px;
  width: 100%;
}
